[Unit]
Description=Run CS archival collection every 15 minutes

[Timer]
OnCalendar=*:0/15
Persistent=true
RandomizedDelaySec=30
Unit=cs-archival-collection.service

[Install]
WantedBy=timers.target
